---
import Message from "../components/Message.astro";

export interface Props {
	messages: object[];
}

const { messages } = Astro.props;
---

<div class="flex flex-1 flex-col py-2 px-6 bg-base-100 overflow-scroll">
    {
		messages.map((messageData: any) => (
			<Message
                fromMe={messageData.fromMe}
				remoteJid={messageData.remoteJid}
				id={messageData.id}
				message={messageData.message}
				timestamp={messageData.timestamp}
				pushName={messageData.pushName}
                profilePicture={messageData.profilePicture}
				userReceipt={messageData.userReceipt}
                ack={messageData.ack}
			/>
		))
	}
</div>
