<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OwO</title>
	</head>
	<body class="prose max-w-full" data-theme="halloween">
		<script is:inline>
			let URLtheme = new URL(window.location.href).searchParams.get("theme");
			if (URLtheme) {
				document.querySelector("body").dataset.theme = URLtheme;
			}
		</script>
		<slot />
	</body>
</html>
<style is:global>
	.center {
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.left {
		width: 100%;
		display: flex;
		justify-content: left;
		text-align: left;
	}
	.right {
		width: 100%;
		display: flex;
		justify-content: right;
		text-align: right;
	}
</style>
<style is:global>
	@media only screen and (max-width: 700px) {
		html {
			font-size: 1rem !important;
			padding: 0rem !important;
		}
	}
</style>
<style is:global>
	html {
		background-color: hsl(var(--b)) !important;
		border-radius: 0.75rem;
		font-family: "Rubik", sans-serif;
		font-size: 1.25rem !important;
		padding: 1.25rem;
		margin: 1rem;
	}
	.prose {
		line-height: 1.5rem !important;
		color: hsla(var(--bc) / var(--tw-text-opacity, 1));
	}
	body>h1 {
		margin: 0 !important;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		padding: 0rem !important;
		margin-top: 1rem !important;
		margin-bottom: 0.5rem !important;
		font-weight: bold !important;
		color: hsl(var(--p)) !important;
	}
	a {
		font-weight: normal !important;
	}
	ul {
		margin-top: 0 !important;
	}
	li {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	input[type="checkbox"] {
		accent-color: hsl(var(--p));
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	input[type="checkbox"][aria-disabled="true"] {
		background-color: hsl(var(--p));
		pointer-events: none;
	}
	img {
		width: auto;
		border-radius: 0.75rem;
		max-height: 30rem;
	}
	.hashtag {
		color: hsl(var(--p));
		background-color: hsl(var(--a) / 10%);
		border-radius: calc(0.75rem);
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.1rem;
		padding-bottom: 0.1rem;
	}
</style>
<script>
	const frontendURL = "https://sonicj.pages.dev/09%20SchoolworkList-UI";
	const searchEngineURL = "https://google.com/search?q=";
	const hashtags = document.body.innerText.match(/\B(\#[a-zA-Z0-9]+\b)/g);
	if (hashtags) {
		hashtags.forEach((hashtag) => {
			switch (hashtag) {
				case "#KIMIA":
				case "#FISIKA":
				case "#BIO":
				case "#MATEMINAT":
				case "#MATEWAJIB":
				case "#SEJARAHWAJIB":
				case "#BINDO":
				case "#ENG":
				case "#MAND":
				case "#SBK":
				case "#AGAMA":
				case "#PPKN":
				case "#TIK":
				case "#PJOK":
				document.body.innerHTML = document.body.innerHTML.replace(hashtag, `<a href="${frontendURL}?s=${hashtag.slice(1)}"><span class="hashtag">${hashtag}</span></a>`);
					break;
				default:
					document.body.innerHTML = document.body.innerHTML.replace(hashtag, `<a href="${searchEngineURL + hashtag.slice(1)}"><span class="hashtag">${hashtag}</span></a>`);
					break;
			}
		});
	}

	document.querySelectorAll("input[type=checkbox]").forEach((input) => {
		input.removeAttribute("disabled");
		input.setAttribute("aria-disabled", "true");
	});

	document.querySelectorAll("a").forEach((a) => {
		a.setAttribute("target", "_parent");
	});
</script>
