---
import Icon from '../Icon.astro'
import Genre from '../Genre.astro'

export interface Props {
	anime: {
        title: {
            english: string,
            romaji: string
        }
        cover: string
        description: string
        type: string
        duration: string
        rating: string
        genres: Array<String>
        id: string
    }
}
const { anime }  = Astro.props;
---
<div class="relative h-[200px] sm:h-[250px] md:h-[300px] lg:h-[350px] xl:h-[400px] 2xl:h-[450px]">
    {/* The image behind the banner */}
    {anime?.cover && (
      <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
        <img src={anime?.cover} alt={`Banner for ${anime?.title.english || anime?.title.romaji}`} class="opacity-60 min-w-full min-h-full object-cover"/>
      </span>
    )}

    {/* The container that lies on top of the image */}
    <div class="absolute ml-4 mt-4 space-y-2 text-white sm:ml-8 sm:mt-6 md:space-y-3 lg:mt-8 xl:mt-10 2xl:mt-12">
      {/* the title */}
      <p class="text-xl font-Noto-800 font-extrabold line-clamp-1 sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl">
        {anime?.title.romaji || anime?.title.english}
      </p>
      <p class="text-sm font-normal text-gray-300 line-clamp-1 sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
        {anime?.title.english || anime?.title.romaji}
      </p>

      {/* Icons showing the info about the anime */}
      <div class="flex space-x-2">
        <Icon icon="./PlayIcon.svg" text={anime?.type} />
        <Icon icon="./ClockIcon.svg" text={`${anime?.duration} Min/Ep`} />
        <Icon icon="./LikeIcon.svg" text={`${anime?.rating}%`} />
      </div>

      {/* Array of the genres */}
      <div class="mr-2 flex flex-wrap gap-x-2 gap-y-1 sm:gap-x-3 md:gap-x-4">
        {anime?.genres.map((genre) => (
          <Genre genre={genre} />
        ))}
      </div>

      <p class="hidden max-w-3xl md:block md:line-clamp-3 lg:line-clamp-4 xl:line-clamp-5 2xl:line-clamp-6">
        {(anime?.description).replace(/<\/?\w*\\?>/gm, '')}
      </p>

      {/* the button at the bottom */}
        <a href="https://www.youtube.com/watch?v=ofXigq9aIpo">
          <button class="mt-2 flex transform items-center rounded-lg bg-[#C3073F] px-2 py-1 text-xs text-white transition duration-300 ease-in active:scale-90 sm:text-sm md:text-base">
            <img src="./PlayIcon.svg" class="mr-1 w-5" />
            Watch Now
          </button>
        </a>
    </div>
  </div>

