---
import { Icon } from "astro-icon";
import { optimizeImage } from "../assets/ts/util/image";
import { getImage } from "astro:assets";
import profilePictureDefault from "../assets/.original/export.png";

// Edge browsers doesn't support avif format yet.
const imageFormat = Astro.request.headers.get("user-agent")?.includes("Edg") ? "webp" : "avif";

export interface Props {
	chatName: string;
	chatProfile?: string;
	participants?: string;
}
const { chatProfile, chatName, participants } = Astro.props;

const profilePictureOptimized = chatProfile
	? await optimizeImage(chatProfile, imageFormat, 80, 80).catch(async (_) => (await getImage({ src: profilePictureDefault, format: imageFormat, width: 80, height: 80 })).src)
	: (await getImage({ src: profilePictureDefault, format: imageFormat, width: 80, height: 80 })).src;
---

<div class="flex rounded-t-[5px] bg-base-200 py-2 px-4 min-h-[4.25rem] border-b border-accent/20">
	<div class="hidden" id="mainHeaderBack">
		<Icon name="ph:caret-left" class="h-5 w-5 mx-2 flex self-center" >
	</div>
	<div class="flex h-full mx-2">
		<div class="flex self-center w-10 h-10">
			{
				chatProfile ? (
					<img class="flex self-center w-full h-full rounded-full object-cover" src={profilePictureOptimized} alt={chatName} width="80" height="80" fetchpriority="high" loading="eager" />
				) : (
					<img class="flex self-center w-full h-full rounded-full object-cover" src={profilePictureOptimized} alt={chatName} width="80" height="80" fetchpriority="high" loading="eager" />
				)
			}
		</div>
	</div>
	<div class="flex flex-1 flex-col mx-3 py-1">
		<div class="font-bold">{chatName}</div>
		<div class="font-light text-xs text-accent">{participants ? participants : "Click to view more info."}</div>
	</div>
	<div class="flex min-w-[2rem]">
		<Icon name="ph:magnifying-glass" class="h-5 w-5 mx-2 flex self-center" />
		<Icon name="ph:dots-three-outline-vertical" class="h-5 w-5 mx-2 flex self-center" />
	</div>
</div>
