---
import { optimizeImage } from "../assets/ts/util/image";
import { getImage } from "astro:assets";
import profilePictureDefault from "../assets/.original/export.png";

// Edge browsers doesn't support avif format yet.
const imageFormat = Astro.request.headers.get("user-agent")?.includes("Edg") ? "webp" : "avif";

export interface Props {
	id: string;
	messageCaption: string;
	messageFromMe: boolean;
	messageHasMedia: boolean;
	messageName: string;
	messageTimestamp: number;
	profilePicture?: string | null;
	ack?: number | null;
}
const { id, messageCaption, messageFromMe, messageHasMedia, messageName, messageTimestamp, profilePicture, ack } = Astro.props;

const profilePictureOptimized = profilePicture
	? await optimizeImage(profilePicture, imageFormat, 80, 80).catch(async (_) => (await getImage({ src: profilePictureDefault, format: imageFormat, width: 80, height: 80 })).src)
	: (await getImage({ src: profilePictureDefault, format: imageFormat, width: 80, height: 80 })).src;

let bubbleColor = "chat-bubble-secondary";
let messageAck = null;
switch (ack) {
	case 0:
		bubbleColor = "chat-bubble-error";
		messageAck = "Error";
		break;
	case 4:
		messageAck = "Read";
		break;
	case 5:
		messageAck = "Played";
		break;
	default:
		messageAck = "Sent";
		break;
}
---

<div class=`flex min-w-full ${messageFromMe ? "justify-end" : "justify-start"}` id=`message-${id}` has-media=`${messageHasMedia}`>
	<div class=`chat ${messageFromMe ? "chat-end" : "chat-start"} max-md:max-w-[90%] max-xl:max-w-[80%] max-w-[55%]`>
		<div class="chat-image avatar">
			<div class="w-8 rounded-full">
				<img src={profilePictureOptimized} />
			</div>
		</div>
		<div class=`chat-header flex py-1 ${messageFromMe ? "flex-row-reverse" :""}`>
			{messageName}
			<time class="text-xs opacity-50 px-2 self-end">
				{
					new Date(messageTimestamp * 1000).toLocaleTimeString("en-US", {
						hour: "2-digit",
						minute: "2-digit",
					})
				}
			</time>
		</div>
		<div class=`chat-bubble ${bubbleColor} flex flex-col break-word max-md:text-sm`>
			<div id="media">{messageHasMedia ? "[MEDIA]" : ""}</div>
			{messageCaption}
			{messageFromMe ? <div class="chat-footer opacity-50 self-end max-md:text-xs">{messageAck}</div> : ""}
		</div>
	</div>
</div>
<style>
	.break-word {
		-ms-word-break: break-all;
		-ms-word-wrap: break-all;
		-webkit-word-break: break-word;
		-webkit-word-wrap: break-word;
		word-break: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
</style>
